@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

body {
  text-align: center;
  background-color: #69b3bd;
  font-family: "Audiowide", cursive;
}

.card {
  display: inline-block;
  /* width: 40vh; */
  /* height: 65vh; */
  background-color: #bd1a8d;
  padding: 1rem;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin: 5rem 2rem 2rem 2rem;
}

h1 {
  text-align: center;
  color: white;
  /* background-color: #3e3e3e; */
}

.input {
  padding: 0.5rem;
  border-radius: 20px;
  margin: 2rem 0.5rem 1.5rem 0.5rem;
  width: 85%;
}

.btn-submit {
  display: block;
  margin: auto;
  background-color: #f8e71c;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 125%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border: none;
}

.btn-submit:hover {
  background-color: #9de1cf;
  padding: 0.7rem 1.2rem;
}

.output-win {
  height: 100px;
  background-color: #e8ebf0;
  font-size: large;
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.7rem;
}
